# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Sources files
!index.html
!style.css
!favicon.ico
!wos.svg
!crossdomain.xml

!wos.js
!assets.js
!loader.js

!math/
!math/math.js
!math/vector_2.js
!math/vector_3.js
!math/vector_4.js
!math/matrix_4_4.js

!physics/collision.js
!physics/boundingbox.js

!renderer/
!renderer/animsprite.js
!renderer/renderer.js
!renderer/backrenderer.js
!renderer/vertexbuffer.js
!renderer/meshvertexbuffer.js
!renderer/skeletalvertexbuffer.js
!renderer/shader.js
!renderer/texture.js
!renderer/modeldata.js
!renderer/line.js
!renderer/rect.js
!renderer/sprite.js
!renderer/animsprite.js
!renderer/procsprite.js
!renderer/ninebox.js
!renderer/plane.js
!renderer/staticmesh.js
!renderer/skeletalmesh.js
!renderer/view.js
!renderer/camera.js
!renderer/freeflycam.js
!renderer/worldlight.js
!renderer/dynamiclights.js
!renderer/pointlight.js
!renderer/spotlight.js
!renderer/shadows.js
!renderer/shaders/
!renderer/shaders/defaultshader.js
!renderer/shaders/backrenderershader.js
!renderer/shaders/lineshader.js
!renderer/shaders/rectshader.js
!renderer/shaders/spriteshader.js
!renderer/shaders/animspriteshader.js
!renderer/shaders/nineboxshader.js
!renderer/shaders/buttonshader.js
!renderer/shaders/togglebuttonshader.js
!renderer/shaders/textshader.js
!renderer/shaders/planeshader.js
!renderer/shaders/staticmeshshader.js
!renderer/shaders/staticmeshshadermedium.js
!renderer/shaders/staticmeshshaderlow.js
!renderer/shaders/skeletalmeshshader.js
!renderer/shaders/skeletalmeshshadermedium.js
!renderer/shaders/skeletalmeshshaderlow.js

!interface/
!interface/guibutton.js
!interface/guitogglebutton.js
!interface/guitext.js
!interface/guitextbox.js

!audio/audioengine.js
!audio/sound.js

# Fonts files
!fonts/wosfont.otf

# Textures files
!textures/
!textures/cursor.png
!textures/testsprite.png
!textures/testninebox.png
!textures/testbutton.png
!textures/testtogglebutton.png

# Models files
!models/
!models/testmodel.wmsh
!models/testskeletal.wmsh

# Sounds files
!sounds/test.wav
