# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Sources files
!index.html
!style.css
!favicon.ico
!wos.svg
!crossdomain.xml

!wos.js
!assets.js
!loader.js

!math/math.js
!math/vector_2.js
!math/vector_3.js
!math/matrix_4_4.js

!physics/collision.js
!physics/boundingbox.js

!renderer/animsprite.js
!renderer/renderer.js
!renderer/vertexbuffer.js
!renderer/shader.js
!renderer/lineshader.js
!renderer/rectshader.js
!renderer/spriteshader.js
!renderer/animspriteshader.js
!renderer/textshader.js
!renderer/texture.js
!renderer/line.js
!renderer/rect.js
!renderer/sprite.js
!renderer/animsprite.js
!renderer/procsprite.js
!renderer/view.js

!interface/guitext.js
!interface/guitextbox.js

!audio/audioengine.js
!audio/sound.js

# Fonts files
!fonts/wosfont.otf

# Textures files
!textures/cursor.png
!textures/testsprite.png

# Sounds files
!sounds/test.wav

