# Ignore everything, except listed files
*

# Global files
!.gitignore
!README.md
!LICENSE

# Sources files
!index.html
!style.css
!favicon.ico
!wos.svg
!crossdomain.xml

!wos.js
!assets.js
!loader.js

!math/math.js
!math/vector_2.js
!math/vector_3.js
!math/matrix_4_4.js

!physics/collision.js
!physics/boundingbox.js

!renderer/
!renderer/animsprite.js
!renderer/renderer.js
!renderer/vertexbuffer.js
!renderer/skeletalvertexbuffer.js
!renderer/shader.js
!renderer/texture.js
!renderer/modeldata.js
!renderer/line.js
!renderer/rect.js
!renderer/sprite.js
!renderer/animsprite.js
!renderer/procsprite.js
!renderer/ninebox.js
!renderer/staticmesh.js
!renderer/skeletalmesh.js
!renderer/view.js
!renderer/camera.js
!renderer/shaders/
!renderer/shaders/lineshader.js
!renderer/shaders/rectshader.js
!renderer/shaders/spriteshader.js
!renderer/shaders/animspriteshader.js
!renderer/shaders/nineboxshader.js
!renderer/shaders/textshader.js
!renderer/shaders/staticmeshshader.js
!renderer/shaders/skeletalmeshshader.js

!interface/guitext.js
!interface/guitextbox.js

!audio/audioengine.js
!audio/sound.js

# Fonts files
!fonts/wosfont.otf

# Textures files
!textures/cursor.png
!textures/testsprite.png

# Models files
!models/
!models/testmodel.wmsh
!models/testskeletal.wmsh

# Sounds files
!sounds/test.wav
