/******************************************************************************/
/*    WOS : Web Operating System                                              */
/*      style.css : WOS main stylesheet                                       */
/******************************************************************************/


/******************************************************************************/
/*  WOS Default font                                                          */
/******************************************************************************/
@font-face
{
    font-family: "wosfont";
    src: url("fonts/wosfont.otf");
}

/******************************************************************************/
/*  Global style                                                              */
/******************************************************************************/
*
{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

/******************************************************************************/
/*  Html style                                                                */
/******************************************************************************/
html
{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/******************************************************************************/
/*  Body style                                                                */
/******************************************************************************/
body
{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

/******************************************************************************/
/*  Canvas style                                                              */
/******************************************************************************/
canvas
{
    cursor: url("cursors/default.png"), auto;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
